html {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 140%;
    background: #1b0d15;
    text-align: center;
}


.outer {
    width: 64%;
    margin: 1em auto;
    padding: 0;
}

.inner {
    margin: 0;
    padding: 0;
    font-size: 120%;
    border-radius: .8em;
    background: #fff;
    box-shadow: 0 0 8em #fff;
}

.language-chooser {
    padding: 1em 1em .4em;
    margin: 0 0 1em;
    font-size: 80%;
    border-bottom: solid 1px #cecece;
}
.language-chooser li:first-child {
    margin-left: 0;
}
.language-chooser li {
    display: inline-block;
    margin-left: .4em;
    border-top: solid 2px #fff;
    cursor: pointer;
}
.language-chooser .active {
    border-color: #000;
    cursor: default;
}


.quiz-intro,
.quiz-outro {
    padding: 0 1em;
}

.quiz-intro-description,
.quiz-outro-description {
    margin: 0 0 1em;
}


.quiz-lap-question {
    padding: 0 1em;
    margin: 0;
}

.quiz-lap-options {
    padding: 0;
    margin: 1em auto;
    list-style: none;
    text-align: left;
    width: 50%;
}
.quiz-lap-options li {
    color: #000;
}
.quiz-lap-options .correct {
    color: #093;
}
.quiz-lap-options .incorrect {
    color: #c00;
}
.quiz-lap-options label {
    display: block;
}

.quiz-lap-message {
    margin: 0;
    padding: 1em;
    border-bottom-right-radius: .8em;
    border-bottom-left-radius: .8em;
}
.quiz-lap-message.info {
    background: #ffc;
    color: #000;
}
.quiz-lap-message.error {
    background: rgba(255, 0, 0, .04);
    color: #c00;
}
.quiz-lap-message.success {
    background: rgba(0, 255, 0, .04);
    color: #0c0;
}


.btn-wrapper {
    padding: 0 1em 1em;
}
.btn-wrapper .btn {
    padding: .4em .8em;
    font-size: 120%;
    border-radius: .2em;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}


.footer {
    margin: 1em 0;
    padding: 0 1em;
    font-size: 80%;
    text-align: left;
    list-style: none;
}
.footer,
.footer a {
    color: #ccc;
}
